<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="assets/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <p>{{ sayHello() }} - <a v-bind:href="link">vuejs-basics</a></p>
        <hr>
        <p v-html="finishedLink"></p>
        <hr>
        <h1>Counter</h1>
        <button v-on:click="inc(5, $event)">Click Me!</button>
        <p>{{ count }}</p>
        <p v-on:mousemove="updateCoordinates">
            Coordinates: {{ x }} / {{ y }}
            - <span v-on:mousemove="deadSpot"> Dead Spot!</span>
            <span v-on:mousemove.stop=""> Dead Spot!</span>
        </p>
        <hr>
        <input type="text" v-on:keyup.enter.space="alertMe" name="" id="">
    </div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            title:'Hello World!',
            link:'https://gitlab.com/coldshots143/vuejs-basics',
            finishedLink: '<a href="https://gitlab.com">GitLab</a>',
            count:0,
            x:0,
            y:0,
        },
        methods: {
            sayHello: function(){
                this.title = 'Hello!';
                return this.title;
            },
            inc: function(add, event){
                this.count += add;
            },
            updateCoordinates: function(event){
                this.x = event.clientX;
                this.y = event.clientY;
            },
            deadSpot: function(event){
                event.stopPropagation();
            },
            alertMe: function(){
                alert('Alert!');
            }
        }
    });
    //last 20
</script>
</html>